<!DOCTYPE html>
<html>
<head>
<title>Contact</title>
<!-- for-mobile-apps -->

</head>
	
<body>


<!-- contact -->
	<div class="contact">
	<div class="container">
		<h3>Contact Us</h3>
		<div class="contact-us1-bottom">
			<form>
				<select name="YourLocation">
					<option value="Taipei">台北</option>
					<option value="Taoyuan">桃園</option>
					<option value="Hsinchu">新竹</option>
					<option value="Miaoli">苗栗</option>
				</select>
				<input type="text" value="Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}" required="">
				<input type="email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
				<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
				<input type="submit" value="Submit" >
			</form>
			<div class="home-radio-clock">
				<ul>
					<li><i class="glyphicon glyphicon-home" aria-hidden="true"></i>Our Home</li>
					<li><i class="glyphicon glyphicon-bullhorn" aria-hidden="true"></i>Call Us</li>
					<li><i class="glyphicon glyphicon-time" aria-hidden="true"></i>Opening Time</li>
				</ul>
			</div>
			<div class="home-radio-clock-right">
				<ul>
					<li>4978 Diamond Circle
						<span>Washington, NJ 07087</span></li>
					<li class="lst">(012) 123-456-78</li>
					<li>(012) 123-456-78<span>Mon-Fri:</span><span>09h-17h</span></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="map">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3104.2960728675243!2d-77.0274216!3d38.9172098!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7e5dea825b5%3A0x9e687c7e41a2d84e!2sIndustrial+Bank!5e0!3m2!1sen!2sin!4v1439461413522" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
	</div>
<!-- //contact -->

</body>
</html>