<html>
<head>
</head>
<body>
<div class="footer">
		<div class="container">
			<div class="footer-row">
				<div class="col-md-4 footer-grids">
					<h4><a href="index.php">後台管理</a></h4>
					<p><a href="#">露營區查詢系統</a></p>
					<!-- <p>+2 000 222 1111</p> -->
					<ul class="social-icons">
						<!-- <li><a href="#" class="p"></a></li> -->
						<!-- <li><a href="#" class="in"></a></li> -->
						<!-- <li><a href="#" class="v"></a></li> -->
						<!-- <li><a href="#" class="facebook"></a></li> -->
					</ul>
				</div>
				<?php /*?>
				<div class="col-md-3 footer-grids">
					<h3>Navigation</h3>					
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="index.html">Services</a></li>
						<li><a href="typo.html">Typo</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-2 footer-grids">
					<h3>Support</h3>
					<ul>
						<li><a href="gallery.html">Photo Gallery</a></li>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Lemollisollis</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-grids">	
					<h3>Newsletter</h3>
					<p>It was popularised in the 1960s with the release Ipsum. <p>
					<form>					 
					    <input type="text" class="text" value="Enter Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter Email';}">
						<input type="submit" value="Go">					 
				 </form>
				</div>
				<div class="clearfix"> </div>
				<?php */?>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">		
			<p>Copyright &copy; 2017.Company name All rights reserved.More</p>
		</div>
	</div>
<!--//footer-->	
<!-- for bootstrap working -->
		<script src="../view/js/bootstrap.js"> </script>
</body>
</html>