
<!DOCTYPE html>
<html>
<head>
<title>歡迎光臨露營區查詢系統</title>

</head>
	
<body>
<!-- //banner -->
	<p><font color="white">.</font></p>
	<div class="banner-bottom-video">
		<div class="container">
			<div class="banner-bottom-video-grids" style="height:300px;">
				<center>
				
				<table style=";text-align:center">
					<form name="form" method="post" action="validate.php">
					信箱：<input type="text" name="email" /> <br><br>
					密碼：<input type="password" name="passwd" /> <br><br>
					<input type="submit" name="button" value="登入" />&nbsp;&nbsp;

					</form>

				</table>
				</center>
				
				<div class="clearfix"> </div>
			</div>
			
		</div>
		
	</div>

</body>
</html>