<!DOCTYPE html>
<html>
<head>
<title>歡迎光臨露營區查詢系統</title>

</head>
	
<body>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-grids">
				
				
					<center>
						<p>
							<a style="font-size:22px">提示訊息:&nbsp;<?php echo $msg;?></a>
						</p>
						<br/>
					
						<div class="contact-us1-bottom">
							<input type="submit" 
							value="<?php echo isset($buttonMsg)?$buttonMsg:"回管理頁面"?>" onclick="location.href='index.php'" >
						</div>
						
					</center>
				
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- banner-bottom-video -->

<!-- //banner-bottom-video -->
<!-- banner-slider -->

<!-- //banner-slider -->
<!-- testimonials -->

<!-- //testimonials -->

</body>
</html>
