<!DOCTYPE html>
<html>
<head>
<title>歡迎光臨露營區查詢系統</title>

</head>
	
<body>
<!-- //banner -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="banner-bottom-grids">
				
				<div class="col-md-3 banner-bottom-grid">
					<center><p>提示訊息:&nbsp;<?php echo $msg;?></p></center>
				</div>
				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
<!-- //banner-bottom -->
<!-- banner-bottom-video -->

<!-- //banner-bottom-video -->
<!-- banner-slider -->

<!-- //banner-slider -->
<!-- testimonials -->

<!-- //testimonials -->

</body>
</html>
