<!DOCTYPE html>
<html>
<head>
<title>Single</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Residence Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- //js -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
</head>
	
<body>

<!-- single -->
	<div class="single">
		<div class="container">
			<div class="blog-pag page">
				<div class="blog-page-grids">
					<div class="blog-page-grid">
						<h3>Contrary wipopular belief,Lorem Ipsum is not simply</h3>
						<p>Published on<span> October 3</span></p>
					</div>
					<div class="blog-page-grid1">
						<p><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span>8 Comments</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="blog-page-grids-bottom">
					<div class="blog-page-grids-bot">
						<img src="./view/images/banner1.jpg" alt=" " class="img-responsive" />
					</div>
					<div class="blog-page-grids-bot1">
						<p>Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.
						Curabitur aliquet quam id dui posuere blandit.
						Nulla Quis lorum nisl tempus convallis quis ac lactus.Sed porttitorlactus nibh
						eget tortor risus.Nulla porttitor accumsan tincidunt.
						Contrary wipopular belief,Lorem Ipsum is not simply 
						random text It has roots in a piece of
						classical Latin literature from
						Donec rutrum congue leo eget malesuada.Curabitur non nulla sit amet
						nisl tempus convallis quis ac lactus.Sed porttitor lactus nibh.Proin
						eget tortor risus.Nulla porttitor accumsan tincidunt.Nulla
						porttitoraccumsan tincidunt.</p>
						<ul>
							<li><a href="#"><i class="glyphicon glyphicon-user" aria-hidden="true"></i>User</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>Porttitor</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-tags" aria-hidden="true"></i>5 Tags</a></li>
							<li><a href="#"><i class="glyphicon glyphicon-bookmark" aria-hidden="true"></i>Tincidunt</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="com">
				<h3>Comments</h3>
				<ul class="media-list">
				  <li class="media">
					<div class="media-left">
					  <a href="#">
						<img class="media-object img-responsive" src="./view/images/3.png" alt="" />
					  </a>
					</div>
					<div class="media-body">
					  <h4 class="media-heading">Simmy</h4>
					  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
					  scelerisque ante sollicitudin commodo. Cras purus odio, 
					  vestibulum in vulputate at, tempus viverra turpis. 
					  <a href="#">Reply</a>
					</div>
				  </li>
				  <li class="media">
					<div class="media-left">
					  <a href="#">
						<img class="media-object img-responsive" src="images/4.png" alt="" />
					  </a>
					</div>
					<div class="media-body">
					  <h4 class="media-heading">Sandra Rickon</h4>
					  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
					  scelerisque ante sollicitudin commodo. Cras purus odio, 
					  vestibulum in vulputate at, tempus viverra turpis. 
					  <a href="#">Reply</a>
					</div>
				  </li>
				  <li class="media">
					<div class="media-left">
					  <a href="#">
						<img class="media-object img-responsive" src="images/5.png" alt="" />
					  </a>
					</div>
					<div class="media-body">
					  <h4 class="media-heading">Jhon Willium</h4>
					  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus 
					  scelerisque ante sollicitudin commodo. Cras purus odio, 
					  vestibulum in vulputate at, tempus viverra turpis. 
					  <a href="#">Reply</a>
					</div>
				  </li>
				</ul>
			</div>
			<div class="in dfg">
				<h3>Leave a Comments Here</h3>
				<form>
					<input type="text" placeholder="Name" required=" ">
					<input type="text" placeholder="Email" required=" ">
					<input type="text" placeholder="Website" required=" ">
					<textarea placeholder="Meassage" required=" "></textarea>
					<input type="submit" value="Leave A Comment">
					<div class="clearfix"> </div>
				</form>
			</div>
		</div>
	</div>
<!-- //single -->

</body>
</html>